table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(228, 151, 151);
}
table{
    width: 100%;
}
td{
    height: 20px;
    text-align: center;
    
}
td:hover{
    background-color: white;
}